
<div class="modal-content">
  <div class="modal-header">
    <h3> SwarmUI Information</h3>
  </div>
  <div class="modal-body">
      <strong>API Endpoint: </strong>{{ endpoint }}<br/>
      <strong>API Version: </strong>{{ docker.ApiVersion }}<br/>
      <strong>Swarm version: </strong>{{ docker.Version }}<br/>
      <strong>UI version: </strong>{{ uiVersion }}<br/>
      <strong>Docker Git Commit: </strong>{{ docker.GitCommit }}<br/>
      <strong>Docker Go Version: </strong>{{ docker.GoVersion }}<br/>
  </div>
</div>

