<div id="wrapper">     
  <!-- Include Sidebar -->
  <div ng-if="dashOn" ng-include="template" ng-controller="WrapperDashboardController"></div>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container-fluid">
    <div class="row">
      <!-- Middle Container -->
      <div class="col-xs-12">
        <h1 class="page-header">Role information</h1>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div ng-if="!container.edit">
              <h3 class="panel-title">
                <span class="col-xs-11" style="margin-top: 5px; font-size: 18px;">{{ role.name }}</span>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button type="button" class="btn-link btn-block btn-dropdown"
                        ng-click=""
                        ng-show="!container.State.Running">None
                      </button>
                    </li>
                  </ul>
                </div>
              </h3>
            </div>
          </div>
          <div class="panel-body">
            <a href="/#{{ fromTo }}"><- Return {{ returnTo }}</a><br/><br/>
            <div class='col-xs-9 well'>
              <h4>Information :</h4>
              <b>Numbers file with ansible keys : </b>{{ role.roleNumFiles }}
              <br/>
              <b>Numbers ansible keys : </b>{{ role.roleNumKeys  }}
            </div>
          </div>
          <uib-tabset active="active">
            <uib-tab index="0" heading="Info" ng-click="destroyInterval()">
            <!-- Tabs 1 container info -->
              <table class="table table-striped no-margin-bottom">
                <tbody>
                  <tr>
                    <td class="col-xs-2">Path:</td>
                    <td class="col-xs-10">{{ container.Path }}</td>
                  </tr>
                  <tr>
                    <td>Args:</td>
                    <td>
                      <div class="well well-large no-margin-bottom">
                        <ul class="deco-none">
                          <li>{{ container.Args.join(' ') || 'None' }}</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Exposed Ports:</td>
                    <td>
                      <div class="well well-large no-margin-bottom">
                        <ul class="deco-none">
                          <li ng-repeat="(k, v) in container.Config.ExposedPorts">{{ k }}</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Environment:</td>
                    <td>
                      <ul class="deco-none">
                        <li ng-repeat="k in container.Config.Env"><b>{{ k }}</b></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Labels:</td>
                    <td>
                      <table role="table" class="table">
                        <tr>
                          <th>Key</th>
                          <th>Value</th>
                        </tr>
                        <tr ng-repeat="(k, v) in container.Config.Labels">
                          <td>{{ k }}</td>
                          <td>{{ v }}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td>Publish All:</td>
                      <td>{{ container.HostConfig.PublishAllPorts }}</td>
                  </tr>
                  <tr>
                    <td>Ports:</td>
                    <td>
                      <div class="well well-large no-margin-bottom">
                        <ul class="deco-none">
                          <li ng-repeat="(containerport, hostports) in container.NetworkSettings.Ports">
                            {{ containerport }} => <span class="label label-default" ng-repeat="(k,v) in hostports">{{ v.HostIp }}:{{ v.HostPort }}</span>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Cmd:</td>
                    <td>
                      <div class="well well-large no-margin-bottom">
                        <ul class="deco-none">
                          <li>{{ container.Config.Cmd }}</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Entrypoint:</td>
                    <td>
                      <div class="well well-large no-margin-bottom">
                        <ul class="deco-none">
                          <li>{{ container.Config.Entrypoint.join(' ') || 'None' }}</li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Volumes:</td>
                    <td>{{ container.Volumes }}</td>
                  </tr>
                  <tr>
                    <td>SysInitpath:</td>
                    <td>{{ container.SysInitPath }}</td>
                  </tr>
                  <tr>
                    <td>Image:</td>
                    <td><a href="#/{{ container.From }}/{{ container.Node }}/containers/{{ container.Id }}/image/{{ container.Image }}/">{{ container.Config.Image }}</a></td>
                  </tr>
                  <tr>
                    <td>State:</td>
                    <td>
                      <div class="well well-large no-margin-bottom">
                        <accordion close-others="true">
                          <accordion-group heading="{{ container.State|getstatetext }}">
                            <ul class="deco-none">
                              <li ng-repeat="(key, val) in container.State">{{key}} : {{ val }}</li>
                            </ul>
                          </accordion-group>
                        </accordion>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Changes:</td>
                    <td>
                      <div class="well well-large no-margin-bottom">
                        <ul class="deco-none">
                          <li ng-repeat="change in changes | filter:hasContent">
                            <strong>{{ change.Path }}</strong> {{ change.Kind }}
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            <!-- End Tabs 1 container info -->
            </uib-tab>
            <uib-tab index="1" heading="Logs" ng-click="getLogs()">
              <div class="row logs">
                  <div class="col-xs-12">
                    <div class="pull-right col-xs-6">
                      <div class="col-xs-6">
                        <a class="btn btn-primary" ng-click="toggleTail()" role="button">Reload logs</a>
                        <input id="tailLines" type="number" ng-style="{width: '45px'}"
                          ng-model="tailLines" ng-keypress="($event.which === 13)? toggleTail() : 0"/>
                        <label for="tailLines">lines</label>
                      </div>
                      <div class="col-xs-4">
                        <input id="timestampToggle" type="checkbox" ng-model="showTimestamps"
                          ng-change="toggleTimestamps()"/> <label for="timestampToggle">Timestamps</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 id="stdout" class="panel-title">STDOUT</h3>
                      </div>
                      <div class="panel-body">
                        <pre id="stdoutLog" class="pre-scrollable pre-x-scrollable">{{stdout}}</pre>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 id="stderr" class="panel-title">STDERR</h3>
                      </div>
                      <div class="panel-body">
                        <pre id="stderrLog" class="pre-scrollable pre-x-scrollable">{{stderr}}</pre>
                      </div>
                    </div>
                  </div>
              </div>
            </uib-tab>
            <uib-tab index="2" heading="Top" ng-click="getTop()">
              <div class="containerTop">
                <div class="form-group col-xs-2">
                    <input type="text" class="form-control" placeholder="[options] (aux)" ng-model="ps_args">
                </div>
                <button type="button" class="btn btn-default" ng-click="getTop()">Submit</button>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th ng-repeat="title in containerTop.Titles">{{title}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="processInfos in containerTop.Processes">
                        <td ng-repeat="processInfo in processInfos track by $index">{{processInfo}}</td>
                    </tr>
                    </tbody>
                </table>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
       <!-- Middle Container -->   
      </div>
    </div>
  </div>
  <!-- Main component for a primary marketing message or call to action -->
</div>