<!-- Main component for a primary marketing message or call to action -->
<div class="container-fluid">
  <div class="row">
    <!-- Middle Container -->
    <div class="col-xs-12" id="body-middle-container">
      <h1 class="page-header">Tasks</h1>
      <div class="panel panel-default" style="padding-bottom: 10px;">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks's List</h3>
        </div>
        <div class="panel-body">
          Place a filter input here and action button !
          <br/>
        </div>
        <!-- Table -->
        <div class="panel panel-default" style="margin: 0px 10px 5px 10px;">
          <table class="table table-striped">
            <tr style="width: 100%;">
              <th class="col-xs-3">Action</th>
              <th class="col-xs-1">Server</th>
              <th class="col-xs-3">Status</th>
              <th class="col-xs-1"></th>
              <th class="col-xs-2">Start</th>
              <th class="col-xs-2">End</th>
            </tr>
          </table>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin: 0px 10px 0px 10px;">
          <div ng-repeat="task in consulTasks" class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" style="padding: 0px;">
              <a ng-click="doalert(task.id)" class="myhref" role="button" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="true" aria-controls="collapse{{ task.id }}">
                <table class="table" style="margin-bottom: 0px;">
                  <tr style="width: 100%;">
                    <td class="col-xs-3">
                      {{ task.describe }} : {{ task.containerID }}
                    </td>
                    <td class="col-xs-1">
                      {{ task.nodeName }}
                    </td>
                    <td class="col-xs-3">
                      <div class="progress" style="margin-bottom: 0px;">
                        <div class="progress-bar progress-bar-{{ task.stat|statusbarTask }}" role="progressbar" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                          <span class="sr-only"></span>
                        </div>
                      </div>
                    </td>
                    <td class="col-xs-1">
                    </td>
                    <td class="col-xs-2">
                      {{ task.startDate|getdate }}
                    </td>
                    <td class="col-xs-2">
                      {{ task.endDate|getdate }}
                    </td>
                  </tr>
                </table>
              </a>
            </div>
            <div id="collapseng-repeat="node in consulNodes"" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body" style="padding: 0px;">
                {{ task.logs }}
              </div>
            </div>
          </div>
        </div>
      <div id="setTasksCollapse"></div>
      <!-- Middle Container --> 
    </div>
  </div>
</div>