<div id="wrapper">     
  <!-- Include Sidebar -->
  <div ng-include="template" ng-controller="WrapperDashboardController" onload="updateDash(1);"></div>
  
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container-fluid">
    <div class="row">
      <!-- Middle Container -->
      <div class="col-xs-12" id="body-middle-container">

        <h1 class="page-header">Dashboard</h1>
        <div class="row ">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Docker Informations</h3>
            </div>
            <div class="panel-body placeholder-dash">
              <div class="col-xs-6 col-md-4">
                <h3>Containers Status </h3>
                <canvas id="containers-chart">
                  <p class="browserupgrade">
                    You are using an <strong>outdated</strong> browser. Please 
                    <a href="http://browsehappy.com/">upgrade your browser</a> 
                    to improve your experience.
                  </p>
                </canvas>
                <div id="containers-chart-legend"></div>
              </div>
              <div class="col-xs-6 col-md-4">
                <h3>Images Status</h3>
                <canvas id="images-chart">
                  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please 
                    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                </canvas>
                <div id="images-chart-legend"></div>
              </div>
              <div class="col-xs-6 col-md-4">
                <h3>Hosts Status</h3>
                <canvas id="hosts-chart">
                  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please 
                    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                </canvas>
                <div id="hosts-chart-legend"></div>
              </div>
              <div class="col-xs-6 col-md-4">
                <h3>Hosts Reserve CPU</h3>
                <canvas id="hosts-cpu-chart">
                  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please 
                    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                </canvas>
                <div id="hosts-cpu-chart-legend"></div>
              </div>
              <div class="col-xs-6 col-md-4">
                <h3>Hosts Reserve Memory</h3>
                <canvas id="hosts-memroy-chart">
                  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please 
                    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                </canvas>
                <div id="hosts-memory-chart-legend"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Middle Container -->
    </div>
  </div>
  <!-- Main component for a primary marketing message or call to action -->
</div>