<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul id="sidebar_menu" class="sidebar-nav">
    <li class="sidebar-brand">
      <a id="menu-toggle" href="" ng-click="wrapperDash()">
        <span id="main_icon" class="glyphicon glyphicon-align-justify">
        </span>
      </a>
    </li>
  </ul>
  <ul class="sidebar-nav" id="sidebar">     
    <li id="wrapper-hosts_0001" class="active">
      <a href="/#/hosts/" id="hosts_elem_0001" data-toggle="tooltip" data-placement="right" title="Hosts">
        Hosts
        <div id="wrapper-agents">
          <span id='main_icon_dash' class='glyphicon glyphicon-list-alt'>
            <span class='wrapper-badge wrapper-badge-danger'></span>
          </span>
        </div>
      </a>
    </li>
  </ul>
</div>