<div id="wrapper">     
  <!-- Include Sidebar -->
  <div ng-include="template" ng-controller="WrapperHostsController"></div>
  <!-- Main component for a primary marketing message or call to action -->
	<div class="container-fluid">
		<div class="row">
			<!-- Middle Container -->
			<div class="col-xs-12" id="body-middle-container">
				<h1 class="page-header">Host information</h1>
				<a href='/#/hosts/'><- Return Hosts</a><br/><br/>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="col-xs-11" style="margin-top: 5px; font-size: 18px;">{{ hostInfo.Name }}</span>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action <span class="caret"></span>
                </button>
								<ul class="dropdown-menu">
									<li>
                    <button type="button" class="btn-link btn-block btn-dropdown"
                      data-toggle="modal" data-target="#pull-modal">Pull image
                    </button>
                  </li>
									<li><a href='#' data-toggle='modal' data-target='#createCont'>Create Container</a></li>
									<li role="separator" class="divider"></li>
									<li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="startAction()">Start Container
                    </button>
                  </li>
									<li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="stopAction()">Stop Container
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="killAction()">Kill Container
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="pauseAction()">Pause Container
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="unpauseAction()">Unpause Container
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="restartAction()">Restart Container
                    </button>
                  </li>
                  <li role="separator" ng-show="!container.State.Running" class="divider"></li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="removeAction()">Remove Container
                    </button>
                  </li>
								</ul>
							</div>
						</h3>
					</div>
					<div ng-include="template" ng-controller="PullImageController"></div>
					<div class="panel-body">
						<div class='col-xs-8 well'>
							<h5><b>System :</b></h5>
							<b>OSType : </b>
							{{ hostInfo.OSType }}
							<br/>
							<b>Kernel : </b>
							{{ hostInfo.KernelVersion }}
							<br/>
							<br/>
							<b>IP : </b>
							{{ hostUrl }}
							<br/>
              <br/>
						</div>
						<div class='col-xs-1'>
							<br/>
						</div>
						<div class='col-xs-3 well'>
							<b>Docker Daemon</b> version : <br/><br/>
							<center><span class='label label-primary' style='font-size: 16px;'> {{ hostInfo.ServerVersion }} </span></center>
							<br/>
						</div>
					</div>
					<uib-tabset active="active">
            <uib-tab index="0" heading="Containers">
            <!-- Tabs 1 container info -->
							<!-- Table -->
							<table class="table table-striped no-margin-bottom">
								<tr>
									<th><input type="checkbox" ng-model="toggle" ng-change="toggleSelectAll()" style="margin-top: 35px;"/></th>
									<th>
										<button type="button" class="btn-link btn-block btn-dropdown" ng-click="order('Names')">
		                  Names
		                  <span class="sortorder" ng-show="predicate === 'Names'" ng-class="{reverse:reverse}"></span>
		                </button>
		                <input class="form-control input-filter" ng-model="search.Names" placeholder="Filter...">
	                </th>
									<th>
										<button class="btn-link btn-block btn-dropdown" ng-click="order('Id')">
		                  Container ID
		                  <span class="sortorder" ng-show="predicate === 'Id'" ng-class="{reverse:reverse}"></span>
		                </button>
		                <input class="form-control input-filter" ng-model="search.Id" placeholder="Filter...">
									</th>
									<th>
										<button class="btn-link btn-block btn-dropdown" ng-click="order('Image')">
		                  Image
		                  <span class="sortorder" ng-show="predicate === 'Image'" ng-class="{reverse:reverse}"></span>
		                </button>
		                <input class="form-control input-filter" ng-model="search.Image" placeholder="Filter...">
									</th>
									<th>
										<button class="btn-link btn-block btn-dropdown" ng-click="order('Status')">
		                  Container Status
		                  <span class="sortorder" ng-show="predicate === 'Status'" ng-class="{reverse:reverse}"></span>
		                </button>
		                <input class="form-control input-filter" ng-model="search.Status" placeholder="Filter...">
									</th>
									<th>Action</th>
								</tr>
								<tr ng-repeat="container in containers | filter:search:strict | orderBy:predicate:reverse">
									<td><input type="checkbox" ng-model="container.Checked" /></td>
									<td>
										&nbsp;&nbsp;&nbsp;
										{{ container | containername }}
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;
										<a href="#/hosts/{{ hostInfo.Name }}/containers/{{ container.Id }}">
										{{ container.Id|truncate:15 }}
										</a>
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;
										{{ container.Image }}
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;
										<span class="label label-{{ container.Status|statusBadge }}" style="font-size: 95%">
										{{ container.Status|statusControle }}
										</span>
									</td>
									<td>
										<a ng-controller="ContainersActionsController" href="#/hosts/{{ hostInfo.Name }}/" type="button" id="button_agent_action" ng-click="actionContainer(container.Id, container, container.Status)" class="btn btn-sm btn-default {{ container.Status|statusButtonActive }}" style="padding: 4px;" autocomplete="off">
										<span class="label label-{{ container.Status|statusInverseBadge }} {{ container.Status|statusIconsStartStop }}" style="font-size: 100%;top: 1.5px;"> </span>
										</a>
									</td>
								</tr>
							</table>
						</uib-tab>
            <uib-tab index="1" heading="Images">
							<table class="table table-striped no-margin-bottom">
								<tr>
									<th><input type="checkbox" ng-model="toggleImg" ng-change="toggleSelectAllImage()" style="margin-top: 35px;"/></th>
									<th>
										<button type="button" class="btn-link btn-block btn-dropdown" ng-click="orderImage('RepoTags')">
											Tags
											<span class="sortorder" ng-show="predicateImage === 'RepoTags'" ng-class="{reverse:reverse}"></span>
										</button>
										<input class="form-control input-filter" ng-model="search.RepoTag" placeholder="Filter...">
									</th>
									<th>
										<button type="button" class="btn-link btn-block btn-dropdown" ng-click="orderImage('Id')">
											Id
											<span class="sortorder" ng-show="predicateImage === 'Id'" ng-class="{reverse:reverse}"></span>
										</button>
										<input class="form-control input-filter" ng-model="search.Id" placeholder="Filter...">
									</th>
									<th>
										<button type="button" class="btn-link btn-block btn-dropdown" ng-click="orderImage('Created')">
											Created
											<span class="sortorder" ng-show="predicateImage === 'Created'" ng-class="{reverse:reverse}"></span>
										</button>
										<input class="form-control input-filter" ng-model="search.Create" placeholder="Filter...">
								</th>
								<th>
									<button type="button" class="btn-link btn-block btn-dropdown" ng-click="orderImage('VirtualSize')">
										VirtualSize
										<span class="sortorder" ng-show="predicateImage === 'VirtualSize'" ng-class="{reverse:reverse}"></span>
									</button>
								<input class="form-control input-filter" ng-model="search.VirtualSize" placeholder="Filter...">
								</th>
								</tr>
								<tr ng-repeat="image in images | filter:search:strict | orderBy:predicateImage:reverse">
									<td><input type="checkbox" ng-model="image.Checked" /></td>
									<td>
										&nbsp;&nbsp;&nbsp;
										<a href="#/hosts/{{ hostInfo.Name }}/images/{{ image.Id }}">{{ image | repotag }}</a>
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;
										{{ image.Id | truncate:15  }}
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;
										{{ image.Created | getdate1000 }}
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;
										{{ image.VirtualSize | humansize }}
									</td>
								</tr>
							</table>
						</uib-tab>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>