<div id="wrapper">     
  <!-- Include Sidebar -->
  <div ng-include="template" ng-controller="WrapperDashboardController"></div>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container-fluid">
    <div class="row">
      <!-- Middle Container -->
      <div class="col-xs-12" id="body-middle-container">
        <h1 class="page-header">Moocs</h1>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="col-xs-11" style="margin-top: 5px; font-size: 18px;">Mooc's List</span>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="btn-link btn-block btn-dropdown"
                      data-toggle="modal" data-target="#pull-modal">Download mooc
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn-link btn-block btn-dropdown"
                      ng-controller="ImagesActionsController"
                      ng-click="removeImage()">Backup mooc
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn-link btn-block btn-dropdown"
                      ng-controller="ImagesActionsController"
                      ng-click="removeImage()">Remove mooc
                    </button>
                  </li>
                </ul>
              </div>
            </h3>
          </div>
          <div ng-include="template" ng-controller="PullImageController"></div>
          <div ng-include="template" ng-controller="LoaderController"></div>
          <!-- Table -->
          <table class="table table-striped">
            <tr>
              <th></th>
              <th>
                <button type="button" class="btn-link btn-block btn-dropdown" ng-click="order('RepoTag')">
                  Tags
                  <span class="sortorder" ng-show="predicate === 'RepoTag'" ng-class="{reverse:reverse}"></span>
                </button>
                <input class="form-control input-filter" ng-model="search.RepoTag" placeholder="Filter..." value="mooc">
              </th>
              <th>
                <button type="button" class="btn-link btn-block btn-dropdown" ng-click="order('Id')">
                  Id
                  <span class="sortorder" ng-show="predicate === 'Id'" ng-class="{reverse:reverse}"></span>
                </button>
                <input class="form-control input-filter" ng-model="search.Id" placeholder="Filter...">
              </th>
              <th>
                <button type="button" class="btn-link btn-block btn-dropdown" ng-click="order('Created')">
                  Created
                  <span class="sortorder" ng-show="predicate === 'Created'" ng-class="{reverse:reverse}"></span>
                </button>
                <input class="form-control input-filter" ng-model="search.Create" placeholder="Filter...">
              </th>
              <th>
                <button type="button" class="btn-link btn-block btn-dropdown" ng-click="order('VirtualSize')">
                  VirtualSize
                  <span class="sortorder" ng-show="predicate === 'VirtualSize'" ng-class="{reverse:reverse}"></span>
                </button>
                <input class="form-control input-filter" ng-model="search.VirtualSize" placeholder="Filter...">
              </th>
              <th>
                Status
              </th>
            </tr>
            <tr ng-repeat="image in images | filter:search:strict | orderBy:predicate:reverse">
              <td>
                <div ng-if="!image.Select">
                  <input type="checkbox" ng-model="image.Checked" />
                </div>
              </td>
              <td>
                &nbsp;&nbsp;&nbsp;
                <a href="#/{{ image.From }}/images/{{ image.Id }}">{{ image.RepoTag }}</a>
              </td>
              <td>
                &nbsp;&nbsp;&nbsp;
                {{ image.Id | truncate:15  }}
              </td>
              <td>&nbsp;&nbsp;&nbsp;
                {{ image.Created | getdate1000 }}
              </td>
              <td>
                &nbsp;&nbsp;&nbsp;
                {{ image.VirtualSize | humansize }}
              </td>
              <td>
                <a href="#/dashboard/images/" type="button" id="button_agent_action" ng-click="actionImage(image)" 
                class="btn" style="padding: 4px; display: inline;" autocomplete="off">
                  <span class="label label-{{ image.Status|statusBadge }}" style="font-size: 95%;">{{ image.ContainerCreate }} {{ image.Status|statusRunning }}</span>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <!-- Middle Container --> 
      </div>
    </div>
  </div>
  <!-- Main component for a primary marketing message or call to action -->
</div>