<div id="wrapper">     
  <!-- Include Sidebar -->
  <div ng-include="template" ng-controller="WrapperDashboardController"></div>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container-fluid">
    <div class="row">
      <!-- Middle Container -->
      <div class="col-xs-12" id="body-middle-container">
        <h1 class="page-header">Ansible Playbooks</h1>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="col-xs-11" style="margin-top: 5px; font-size: 18px;">Playbooks's List</span>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="btn-link btn-block btn-dropdown"
                      data-toggle="modal" data-target="#pull-modal">Create Playbook
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn-link btn-block btn-dropdown"
                      ng-controller="ImagesActionsController"
                      ng-click="removePlaybook()">Remove Playbook
                    </button>
                  </li>
                </ul>
              </div>
            </h3>
          </div>
          <div ng-include="template" ng-controller="PullImageController"></div>
          <!-- Table -->
          <table class="table table-striped">
            <tr>
              <th>
                <button type="button" class="btn-link btn-block btn-dropdown" ng-click="order('Playbooks')">
                  Playbooks
                  <span class="sortorder" ng-show="predicate === 'Playbooks'" ng-class="{reverse:reverse}"></span>
                </button>
                <input class="form-control input-filter" ng-model="search.playbookName" placeholder="Filter...">
              </th>
              <th>
                Numbers ansible roles
              </th>
              <th>
                Numbers hosts groups
              </th>
            </tr>
            <tr ng-repeat="playbook in playbooks | filter:search:strict | orderBy:predicate:reverse">
              <td>
                &nbsp;&nbsp;&nbsp;
                <a href="#/dashboard/playbooks/{{ playbook.playbookName }}/{{ playbook.playbookId }}">{{ playbook.playbookName }}</a>
              </td>
              <td>&nbsp;&nbsp;&nbsp;
                {{ playbook.playbookNumRoles }}
              </td>
              <td>
                &nbsp;&nbsp;&nbsp;
                {{ playbook.playbookNumGroups }}
              </td>
            </tr>
          </table>
        </div>
        <!-- Middle Container --> 
      </div>
    </div>
  </div>
  <!-- Main component for a primary marketing message or call to action -->
</div>