<div id="wrapper">     
  <!-- Include Sidebar -->
  <div ng-include="template" ng-controller="WrapperDashboardController"></div>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="container-fluid">
    <div class="row">
      <!-- Middle Container -->
      <div class="col-xs-12" id="body-middle-container">
        <h1 class="page-header">Solerni</h1>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="col-xs-11" style="margin-top: 5px; font-size: 18px;">Solerni informations</span>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" style="margin: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="startAction()">Start
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="stopAction()">Stop
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="killAction()">Kill
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="pauseAction()">Pause
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="unpauseAction()">Unpause
                    </button>
                  </li>
                  <li>
                    <button ng-controller="ContainersActionsController" type="button" class="btn-link btn-block btn-dropdown"
                      ng-click="restartAction()">Restart
                    </button>
                  </li>
                </ul>
              </div>
            </h3>
          </div>
          <div ng-include="template" ng-controller="StartContainerController"></div>
          <!-- Table -->
          <table class="table table-striped">
            <tr>
              <th><input type="checkbox" ng-model="toggle" ng-change="toggleSelectAll()"/></th>
              <th>
                  Name
              </th>
              <th>
                  Container ID
              </th>
              <th>
                  Image
              </th>
              <th>
                  Container Status
              </th>
              <th>Actions</th>
            </tr>
            <tr ng-repeat="container in containers | filter:search:strict | orderBy:predicate:reverse">
              <td><input type="checkbox" ng-model="container.Checked" /></td>
              <td>
                {{ container.ContainerName }}
              </td>
              <td>
                <a href="#/dashboard/containers/{{ container.Id }}">
                  {{ container.Id|truncate:15 }}
                </a>
              </td>
              <td>
                {{ container.Image | splitmoocname }}
              </td>
              <td>
                <span class="label label-{{ container.Status|statusBadge }}" style="font-size: 95%">
                  {{ container.Status|statusControle }}
                </span>
              </td>
              <td>
                <a ng-controller="ContainersActionsController" href="#/dashboard/containers/" type="button" id="button_agent_action" ng-click="actionContainer(container.Id, container, container.Status)" class="btn btn-sm btn-default {{ container.Status|statusButtonActive }}" style="padding: 4px;" autocomplete="off">
                  <span class="label label-{{ container.Status|statusInverseBadge }} {{ container.Status|statusIconsStartStop }}" style="font-size: 100%;top: 1px;"> </span>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <!-- Middle Container -->   
      </div>
    </div>
  </div>
  <!-- Main component for a primary marketing message or call to action -->
</div>